.card-img {
  object-fit: cover;
  height: 300px;
}

.hover-zoom {
  transition: transform 0.3s ease;
}

.hover-zoom:hover {
  transform: scale(1.05);
}

.removeFormat{
  text-decoration: none;
}

.title{
  padding-top: 100;
  justify-self: "center";
}