.card-img {
  object-fit: cover;
  height: 300px;
}

.carousel-img{
  object-fit: contain;
  width: 80%;
}

.hover-zoom {
  transition: transform 0.3s ease;
}

.hover-zoom:hover {
  transform: scale(1.05);
}

.removeFormat{
  text-decoration: none;
}

.toppy{
  padding-left: 20px;
  padding-right: 20px;
}

.center{
  align-self: center;
  justify-self: center;
}

.projectText{
  font-size: 20px;
}

.cardAnim{
  mask:
    linear-gradient(#000 0 0),
    linear-gradient(135deg, #000 50%, #0000 50%) content-box 
      50% 50% / 200% 200% no-repeat,
    linear-gradient(-45deg, #000 50%, #0000 50%) content-box 
      50% 50% / 200% 200% no-repeat;
  mask-composite: exclude;
  animation: card 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0.33s;
}

@keyframes card {
  from{
    mask-position:  0% 0%, 0% 0%;
  }
  to{
    mask-position:  0% 0%, 100% 100%;
  }
}

.openAnim {
  mask:
    linear-gradient(#000 0 0),
    linear-gradient(135deg, #000 50%, #0000 0) content-box 
      50% 50% / 200% 200% no-repeat,
    linear-gradient(-45deg, #000 50%, #0000 0) content-box 
      50% 50% / 200% 200% no-repeat;
  mask-composite: exclude;
  
  /* Add animation properties */
  animation: openAnimation 3s forwards; /* Adjust timing as needed */
  animation-delay: 0.33s;
}

@keyframes openAnimation {
  from {
    mask-position: 50% 50%, 50% 50%;
  }
  to {
    mask-position: 0% 0%, 100% 100%;
  }
}


.openText{
  animation: openText 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  justify-self: center;

  animation-delay: 0.33s;
}

@keyframes openText {
  from{
    opacity: 0%;
  }
  to{
    opacity: 100%;
  }
}

.page-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.page{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}